@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap);
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background: #f1f1f1;
}
